<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1><%= titulo %></h1>
        <form action="/admin/<% if (modoEdicion) { %>editar-producto<% } else { %>crear-producto<% } %>" method="POST">
            <input type="text" name="nombreproducto" value="<% if (modoEdicion) { %><%= producto.nombreproducto %><% } %>" required>
            <input type="text" name="urlImagen" value="<% if (modoEdicion) { %><%= producto.urlImagen %><% } %>"> <!-- Campo para la nueva imagen -->
            <input type="number" name="precio" value="<% if (modoEdicion) { %><%= producto.precio %><% } %>" required>
            <textarea name="descripcion" required><% if (modoEdicion) { %><%= producto.descripcion %><% } %></textarea>
            <button type="submit">Actualizar</button>
        </form>        
    </main>

    <%- include('../includes/end.ejs') %>
</body>
